# Source control & metadata
.git
.gitignore
.dockerignore

# IDE/editor settings
.vscode
.idea
*.swp
*.swo

# Docs & temp files
*.log
*.tmp
*.md

# Build artifacts
*.exe
*.out
bin/
vendor/

# Local test files
files/*